<p class='form-group'>
	{{#if inputMode}}
		<div class='input-group'>
			<form {{action 'createItem' newItem listId on='submit'}} id='newItem'>
				{{input value=newItem.name placeholder='Item Name' class='form-control'}}
			</form>
			<span {{action 'isEditing'}} class='input-group-addon'>
				<span class='glyphicon glyphicon-remove' aria-hidden='true'></span>
			</span>
		</div>

	{{else}}
		<button {{action 'isEditing'}} class='btn btn-primary'>
			Add item to list {{listId}}
		</button>
	{{/if}}
	
</p>
