<div id='detail-view'>
  <div {{action 'toggleModal'}} class='modal-fog'></div>
  <div class='panel panel-info modal-frame'>

    <div class='panel-heading modal-title'>
      <div class='pull-left'>
        {{#if editingName}}
          <form {{action 'editItemName' newItem selectedItem.id on='submit'}} 
            id='newTitle'>
            {{input
              class='name-change form-control'
              value=newItem.name
              placeholder='Item name'}}
            </form>
        {{else}}
          <span {{action 'toggleEditState' 'name'}}>{{selectedItem.name}}</span>
        {{/if}}
      </div>
      <div class='pull-right'>
        <span {{action 'deleteItem' selectedItem}} class='button'>Delete</span>
        <span {{action 'toggleModal' selectedItem}} class='button'>Close</span>
      </div>
    </div>

    <div class='panel-body modal-body'>
      <p>
        <i>Click the name above or description below to edit.</i>
      </p>

    	{{#if editingDesc}}
  			<form {{action 'editItemDescription' newItem selectedItem.id on='submit'}} 
          id='newDesc'>
					{{input
            class='form-control'
            value=newItem.description
            placeholder='Please enter item description here.'}}
				</form>
        
    	{{else}}
      	<span {{action 'toggleEditState' 'description'}}>{{selectedItem.description}}</span>
    	{{/if}}

    </div>
  </div>

</div>